html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: url("assets/background.jpg");
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: rgb(0, 0, 0, 0.1);
}

.container {
  width: 1000px;
  margin: 0 auto;
}
#main {
  width: 1000px;
  display: flex;
  justify-self: center;
}

#logo {
  position: absolute;
  z-index: 1;
  width: 300px;
}

#backupmenuspot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  background-color: lightblue;
}

#main .cafe {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

#pasta {
  width: 300px;
}

#salad {
  width: 300px;
}

#specials {
  background-color: #f4f4f4;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  white-space: normal;

  grid-template-areas:
    "pasta ptext"
    "salad stext";
}

#specials #salad {
  grid-area: salad;
}

#specials #stext {
  grid-area: stext;
}

#specials #pasta {
  grid-area: pasta;
}

#specials #ptext {
  grid-area: ptext;
}

#ptext {
  padding: 150px;
}

.ptext {
  width: 450px;
  margin: 0;
}

#tabs {
  width: 1000px;
  background-color: white;
  height: 500px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.threetabs {
  display: flex;
}

.content {
  position: absolute;
  width: 1000px;
  padding: 10px;

  overflow-wrap: normal;
  display: flex;
  justify-content: center;
  left: 212px;
  top: 1185px;
  display: none;
}

/* #tabs li:first-child .content {
  display: block;
} */

.show {
  display: block;
}

#tabs a.active {
  background: #999;
  color: white;
}

p {
  overflow-wrap: normal;
}

#tabs a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid black;
  padding: 10px 20px;
}

.show {
  display: flex;
  justify-content: space-around;
}

#resform {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 375px;
}

#resform input {
  height: 32px;
}

.navBar {
  display: flex;
  justify-content: center;
  height: 45px;
  background-color: #bce4f5;
  margin-top: -7px;
}
.searchbar {
  border: 1px solid grey;
  border-radius: 18px;
  margin-left: 60px;
  width: 375px;
}
.searchIcon {
  position: relative;
  margin-left: 190px;
  top: -3px;
}

.ContactUs {
  display: flex;
  background: grey;
  padding: 40px;
}
.CDetails {
  display: flex;
  flex-direction: column;
  width: 375px;
}
#Google {
  margin-left: 140px;
  width: 400px;
  height: 300px;
  border: 1px solid grey;
  border-radius: 18px;
}
.ContactUs input {
  height: 32px;
}
#Submit {
  width: 52px;
  margin-top: 9px;
  height: 21px;
}
#Comments {
  height: 85px;
}
.CDetails input {
  width: 200px;
}
.Contact {
  margin-top: -20px;
}
